 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi User Blog</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>My Blog </h1>
    {% if error: %} 
     <div class= "error"> {{error}}</div> 
    {% endif %}
   <div class ="container">
   <form method="post">
       <label ><div >Title: </div> <input value= "{{title}}" id ="edit-title" type="text" name="title" /></label>
       <div>Content:</div>
       <textarea  name="content" cols="80" rows="30" id="edit-post">{{content}}</textarea>
       </br>
       <input type="submit">
   </form>
   <hr>

   {% for post in posts %}

   <h1> <div class="post-title"><a href="{{post.key().id()}}">{{post.title}}</a></div></h1>

   <p>   <div class="post-contentt">{{post.content}}</div></p>
   {% endfor %}

   </div>
</body>
</html>
